django
djangorestframework
django-cors-headers
spacy
scikit-learn
PyPDF2
pdfplumber
python-docx
gunicorn
whitenoise
reportlab
mediapipe
opencv-python-headless
numpy
pandas
nltk
sentence-transformers
requests
python-dotenv
google-generativeai
django-allauth
PyJWT
